#title_text {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 1rem;
}

@media (max-width: 989px)
{
    #title_text{
        font-size: 70px;
    }
}

#title-teacher_image {
    border-radius: 25px;
}

#text_under_title {
    font-size: 23px;
    padding-bottom: 2.5rem;
    font-weight: bold;
    color: darkorchid;
}

#introduction_text {
    font-size: 50px;
    font-weight: bold;
}

#features_and_benefits {
    font-weight: bold;
}

.c_f_one {
    padding: 2% 10%;
    margin-bottom: 2rem;
    
}

.c_f_two {
    padding: 2% 10%;
    margin-bottom: 2rem;
}

.navbar {
    padding-bottom: 6rem;
    font-size: 18px;
    font-weight: bold;
}

.navbar-brand {
    width: 90px;
    height: 100px;
    
}

.btn {
    width: 250px;
    height: 50px;
    margin-bottom: 3rem;
}

/* section LOCATIONS */

.locations {
    margin-top: 4.8rem;
    height: 230px;
    padding-top: 1.4rem;
    padding-bottom: 12rem;

}

.locations_title {
    margin-top: 2rem;
    margin-bottom: 3.3rem;
}

.locations_details {
    color: rgb(255, 243, 188);
}

.o7services_text_in_introduction {
    background: linear-gradient(87deg,#5a4bda,#eb427e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.introduction_subtitle {
    color: cadetblue;
}

.pc_image {
    width: 300px;
}
